*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}

#main
{
    width: 100%;
}

#section1
{
    width: 100%;
    height: 100vh;
    background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/business-man_LLINRLUPA4.jpg);
    background-size: cover;
    background-position: top;
}
#nav1
{
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
#n1l1
{
    color: white;
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 15px;
}
#n1l2
{
    height: 100%;
    width: 45%;
}
#n1l3
{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-right: 75px;
}
#n1l3 a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#nav2
{
    width: 100%;
    height: 9%;
    background-color: white;
    display: flex;

}
#left
{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
#left img{
    width: 30%;
    height: 100%;
}
#right
{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
#right a
{
    color: black;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#right a:hover
{
    color: #4E5A6F;
}
#content
{
    width: 450px;
    height: 330px;
    position: absolute;
    top: 70%;
    left: 22%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#content h1
{
    font-size: 50px;
}
#tail
{
    width: 100%;
    height: 15%;
    display: flex;
    align-items:center;
    gap: 40px;
}
button
{
    width: 35%;
    height: 70%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: transparent;
}
button:hover
{
    cursor: pointer;
    background-color: #2f62fc94;
}

#section2
{
    width: 100%;
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
}
#s2d1
{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
#middle h1
{
    font-family: "Mars Attack";
    font-weight: 100;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.736);
}
#middle p
{
    color: #4E5A6F;
}
#s2d2
{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.box1
{
    width: 390px;
    height: 290px;
    border: .1px solid black;
}

.t1
{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.t2
{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

img
{
    width: 20%;
    height: 85%;
}
#s2d3
{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#s2d3 button
{
    width: 280px;
    height: 45px;
    border-radius: 5px;
}
#s2d3 button:hover
{
    cursor: pointer;
    background-color: #536b96;
}

#section3
{
    width: 100%;
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
}
#navs3
{
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#point
{
    text-align: center;
    font-size: 25px;
}
#point h1
{
    font-family: "Mars Attack";
    font-size: 90px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.736);
}
#point p
{
    color: #4E5A6F;
    font-size: 20px;
}
#bodys3
{
    width: 100%;
    height: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#overlay
{
    width: 90%;
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.ol1
{
    width: 28.6%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ol1cl
{
    width: 100%;
    height: 45%;
    display: flex;
}
.part1
{
    width: 20%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.line
{
    width: 3.5vw;
    height: 1.5px;
    background-color: blue;

}
.part1 h3
{
    color: rgba(0, 0, 255, 0.844);
}
.part2
{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.part2 p
{
    font-size: 1.2vw;
    color: black;
}

#section4
{
    width: 100%;
    height: 55vh;
    display: flex;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1585079542156-2755d9c8a094?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-size: cover;
    background-position: center;
    padding-bottom: 10vh;
}
#sleft4
{
    height: 100%;
    width: 60%;
}
#circle1
{
    width: 250px;
    height: 250px;
    background-color: rgb(96, 96, 185);
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: motion1 2s cubic-bezier(0.19, 1, 0.22, 1) both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#circle2
{
    width: 250px;
    height: 250px;
    background-color: rgb(236, 233, 233);
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: motion1 2s cubic-bezier(0.19, 1, 0.22, 1) both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#circle2 h1
{
    font-size: 100px;
    color: rgba(76, 76, 224, 0.744);
}
#circle2 h3
{
    font-weight: 100;
    font-size: 35px;
}
#circle3
{
    width: 45px;
    height: 45px;
    background-color: rgb(96, 96, 185);
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 56%;
    transform: translate(-50%, -50%);
}
#circle4
{
    width: 25px;
    height: 25px;
    background-color: rgb(96, 96, 185);
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 56.5%;
    transform: translate(-50%, -50%);
}
#sright4
{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.block h1
{
    color: blue;
}
.block h2
{
    font-weight: 100;
    color: white;
}


@keyframes motion1
{
    from{
        margin-left: 12vw;
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}